@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,900&display=swap");

:root {
	--black: #1f1f1f;
	--white: #ececec;
	--white-with-opacity: rgba(229, 229, 229, 0.7);
	--darkest-blue: #000a3a;
	--medium-blue: #0a1b6d;
	--lightest-blue: #bfebff;
	--mustard: #ffcf56;
	--blue-shadow: 0 0 0 0.2rem rgb(0 10 58 / 50%);
}

body {
	background-color: var(--white);
	color: var(--black);
	font-family: "Lato", sans-serif;
	font-weight: 300;
	/* font-size: 0.9rem; */
}

/* GENERAL */
a,
a:hover {
	color: var(--black);
}
h2 {
	font-weight: 900;
	font-size: 1.5rem;
}
.btn {
	background-color: var(--medium-blue);
	border: none;
	font-weight: bold;
}

.btn:hover {
	background-color: #061561;
}

.btn:disabled {
	background-color: lightgray !important;
	border: none;
}

.btn:active {
	background-color: var(--darkest-blue);
	border: none;
	box-shadow: 0 0 0 0.2rem rgb(0 10 58 / 50%) !important;
}

.btn:focus {
	background-color: var(--darkest-blue) !important;
	box-shadow: 0 0 0 0.2rem rgb(0 10 58 / 50%) !important;
}

.btn-as-link,
.btn-as-link:hover,
.btn-as-link:active,
.btn-as-link:focus {
	color: var(--white) !important;
	background-color: transparent !important;
	border: none !important;
	display: inline !important;
	box-shadow: none !important;
}

.text-dark {
	color: var(--medium-blue) !important;
}

.btn-as-link svg {
	font-size: 1.5rem;
}

.popover {
	box-shadow: 0 8px 32px 0 rgb(116 116 117 / 37%);
	padding: 20px;
}
.modal-content {
	padding: 30px;
}

.modal-content h2,
.modal-content p {
	text-align: center;
}

.modal-content hr {
	width: 80%;
	background-color: var(--medium-blue);
	margin-bottom: 5px;
}
/* Forms */
label {
	font-weight: 700;
}

input {
	border-color: var(--white-with-opacity) !important;
}

/* NAVBAR */
h1 {
	font-weight: 900;
	font-size: 1.2rem;
	display: inline;
}
nav {
	background: linear-gradient(180deg, #0a1b6d 0%, #000a3a 100%) 0% 0%;
}

.navbar a {
	color: var(--white);
}
.navbar a:hover {
	text-decoration: none;
	color: var(--white);
}

#logo {
	width: 60px;
}
.homepage-logo {
	width: 20%;
	margin-bottom: 40px;
}

header {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 222;
}

.header-user-img {
	width: 35px;
	height: 35px;
	object-fit: cover;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* height: 5%; */
	background-color: #d8d8d8;
	color: var(--black);
	text-align: center;
}

/* HOMEPAGE */
.homepage {
	text-align: center;
}

.homepage-top-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("./images/homepage_jumbo.jpg");
	background-position: -700px -100px;
	width: 100%;
	height: 50vh;
}
.homepage-top p {
	font-weight: 900;
	color: var(--white);
	margin-top: -30px;
	font-size: 2em;
}
.homepage-top span {
	font-size: 1.7rem;
}

.white-bg-thumbnails {
	background-color: var(--white);
	border: 3px var(--medium-blue) dashed;
	margin: -120px auto 10px auto;
	width: 200px;
	height: 200px;
}
@media (max-width: 768px) {
	.white-bg-thumbnails {
		margin: 0 auto 10px auto;
	}

	.homepage-top h2 {
		margin-top: 0;
	}
}

.white-bg-thumbnails svg {
	color: var(--medium-blue);
	font-size: 3rem;
	margin: auto auto;
}
.white-bg-thumbnails path {
	stroke: var(--medium-blue);
}

.homepage h3,
.share-project h3 {
	color: var(--medium-blue);
	font-weight: bold;
	font-size: 16pt;
}

/* EXPLORE PAGE */

.project-card .card {
	background: #f1f1f14a linear-gradient(135deg, #f1f1f1 0%, #e3e3e300 100%) 0%
		0% no-repeat padding-box;
	box-shadow: 3px 3px 7px #a7a7a785;
	border: 2px solid #c7c7c763;
	border-radius: 20px;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
}
.project-card .card-header {
	background: inherit;
	font-weight: 900 !important;
	border: none;
}

.project-card .list-group-item {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	padding: 5px 0;
	border: none;
	background: inherit;
}

.project-card .list-group-item svg {
	display: inline;
	color: var(--medium-blue);
}

.project-card .list-group-item path {
	color: var(--medium-blue);
	stroke: var(--medium-blue);
}

.project-card .card-img-top {
	border: 1px solid #afaccf;
	min-height: 160px;
	max-height: 160px;
	object-fit: cover;
	min-width: 100%;
}

@media (max-width: 992px) {
	.project-card .card-img-top {
		min-height: 230px;
		max-height: 250px;
	}
}

.card-img-top:hover {
	opacity: 0.7;
	transition: 0.3s;
}

.projs-not-found p {
	font-size: 16pt;
	font-weight: bold;
}
.projs-not-found svg {
	font-size: 5rem;
	color: var(--darkest-blue);
	opacity: 0.5;
}

.project-card .btn-as-link:hover,
.project-card .btn-as-link:active,
.project-card .btn-as-link:focus,
.comment-send-btn:hover,
.comment-send-btn:active,
.comment-send-btn:focus {
	color: var(--black) !important;
}

/* FILTER SECTION */
.search input {
	padding-right: 40px;
	border-radius: 10px;
}
.search button {
	position: absolute;
	right: 0;
	top: 5px;
}
.search button:hover {
	color: var(--darkest-blue) !important;
}

.multi-select {
	width: 200px;
	z-index: 1;
}
.custom-control.custom-radio {
	z-index: 0;
}

/* PROJECT DISPLAY */

.projectDisplay h3 {
	font-size: 12pt !important;
	font-size: 1.1rem;
	font-weight: 900;
}
.projectDisplay svg {
	font-size: 1rem;
	height: 1.2rem;
}

.projectDisplay .like-share-icon svg {
	margin-bottom: 3px;
}
.projectInfo path,
.projectInfo svg {
	color: var(--medium-blue) !important;
	stroke: var(--medium-blue) !important;
	height: 1.2rem;
	width: 1.2rem;
}

.projectInfo a {
	color: var(--black);
}

.required-tech-p span {
	display: inline-block;
}

@media (min-width: 992px) {
	.right-side-display {
		border-right: 1px solid black;
	}
}

.carousel-item {
	min-height: 250px;
	max-height: 450px;
}
.like-share-icon,
.like-share-icon:focus,
.like-share-icon:active,
.like-share-icon:hover {
	box-shadow: none !important;
}

.clicked-like,
.clicked-like:focus,
.clicked-like:active,
.clicked-like:hover {
	background-color: var(--black);
	box-shadow: none !important;
}

/* User's Projects */
.empty-users-projects svg {
	font-size: 8rem;
	opacity: 0.6;
	/* stroke: var(--darkest-blue) !important; */
	/* color: var(--medium-blue) !important; */
}
.empty-users-projects path {
	stroke: var(--medium-blue) !important;
}

/* Settings */
.settings input[type="radio"],
.edit-project input[type="radio"] {
	display: none;
}
.user-profile-img img {
	object-fit: cover;
	width: 200px;
	height: 200px;
}
.user-profile-img button {
	margin-top: 80px;
	margin-left: -30px;
}

.empty-forum svg {
	color: var(--medium-blue);
	width: 170px;
	height: auto;
	opacity: 0.2;
	margin-top: 100px;
}
/* .empty-forum.forum-bg {
	padding: 100px 0 !important;
} */
/* Forum */

.forum-bg {
	background-color: #f3f3f3;
	height: 450px;
	overflow-y: auto;
	border-radius: 20px;
}

.button-zindex {
	z-index: 1;
}

button.forum-post:hover,
button.forum-post:active,
button.forum-post:focus {
	color: var(--medium-blue) !important;
	text-decoration: none;
}

.forum-post h4 {
	font-size: 12pt;
}
.forum-post p {
	font-size: 9pt;
}

.comment-mdata p {
	font-size: 10pt;
}

.forum-user-img {
	width: 45px;
	height: 45px;
	object-fit: cover;
}
.blk-txt {
	color: var(--black);
}

.projects-forum .card-header {
	padding: 0;
}
.projects-forum .card-body {
	padding: 0;
}

.forum-comment {
	border: 1pt solid var(--black);
}

/* New Comment */
.rdw-emoji-modal {
	top: -186px;
	left: -197px;
}
.editor-height {
	min-height: 100px;
}
.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr {
	margin: 0;
}
.inline-space {
	flex: 1;
}
/*EDIT PAGE*/
.drag-drop-files {
	background-color: var(--white);
	padding: 10px;
	border: 3px dashed var(--medium-blue);
	border-radius: 10px;
	max-width: 300px;
}
.dropzone {
	text-align: center;
	padding: 10px;
	background-color: var(--white-with-opacity);
	border-radius: 10px;
	height: 170px;
	overflow-y: auto;
	position: relative;
	z-index: 1;
}
.drag-drop-files svg {
	color: var(--medium-blue);
	opacity: 0.4;
	font-size: 22pt;
}
.name-svg {
	width: 20px;
}

.dnd-ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 75%;
}

.file-icon-dnd {
	font-size: 12pt !important;
}

.remove-link {
	color: red !important;
}
.multiple-files-remove {
	position: absolute;
}

.remove-link:hover,
.remove-link:active,
.remove-link:focus {
	color: red !important;
}
.file-name-dnd {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
/* Notifications */
.notification-wrapper a {
	color: var(--black);
}
.notification-wrapper a:hover {
	text-decoration: none;
}
.notification-wrapper p {
	background-color: var(--white);
}
.notification-wrapper p:hover {
	background-color: rgb(226, 226, 226);
}
.notif-time {
	font-size: 9pt;
}
.notif-badge {
	width: 15px;
	height: 15px;
	line-height: 15px;
	position: relative;
	font-size: 9pt;
}
/* User Menu */
.user-menu-wrapper {
	min-width: 200px;
}
.user-menu-wrapper a {
	color: var(--black);
}
.user-menu-wrapper a:hover {
	background-color: rgb(247, 247, 247);
}

/* SHARE */

.text-dark-hover:hover,
.text-dark-hover:active,
.text-dark-hover:focus {
	color: var(--darkest-blue) !important;
}

.share-link-copy {
	background-color: var(--white);
}
.copy-btn svg {
	font-size: 12pt;
	margin-left: -5px;
}

.share-btns svg {
	width: 50px;
}

/* TOGGLE RB */
.toggle-rb .btn-outline-success:not(:disabled):not(.disabled).active,
.toggle-rb .btn-outline-success:not(:disabled):not(.disabled):active,
.toggle-rb .show > .btn-outline-success.dropdown-toggle {
	background-color: var(--medium-blue) !important;
	color: var(--white);
}

.toggle-rb label {
	background-color: white !important;
	border: 1px solid var(--medium-blue) !important;
	color: var(--medium-blue);
}

.toggle-rb label:hover {
	background-color: var(--medium-blue) !important;
	border: 1px solid var(--white) !important;
	color: var(--white);
}

/* REMOVE WARNING */
.bg-secondary {
	background-color: lightgray !important;
}

h2,
label {
	color: var(--medium-blue);
	margin-bottom: 0;
}

.wider-btn {
	width: 100%;
	height: 40px;
}

.bg-diff-Easy {
	background-color: rgb(209, 255, 255);
}

.bg-diff-Medium {
	background-color: rgb(250, 173, 31);
}

.bg-diff-Hard {
	background-color: rgb(252, 99, 99);
}

.static-like {
	width: 1.5rem;
	height: 1.5rem;
}

.carousel-item img {
	height: 300px;
	object-fit: cover;
}
.carousel-height {
	height: 350px;
}
.carousel-indicators li {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: darkgray;
}
