@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,900&display=swap");

:root {
	--black: #1f1f1f;
	--white: #ececec;
	--white-with-opacity: rgba(229, 229, 229, 0.7);
	--darkest-blue: #000a3a;
	--medium-blue: #0a1b6d;
	--lightest-blue: #bfebff;
	--mustard: #ffcf56;
}

body {
	background-color: var(--white);
	color: var(--black);
	font-family: "Lato", sans-serif;
	font-weight: 300;
	/* font-size: 0.9rem; */
}

/* GENERAL */
.btn {
	background-color: var(--medium-blue);
	border: none;
	font-weight: bold;
}

.btn:hover {
	background-color: #061561;
}

.btn:active {
	background-color: var(--darkest-blue);
	border: none;
	box-shadow: 0 0 0 0.2rem rgb(0 10 58 / 50%) !important;
}
.btn:focus {
	background-color: var(--darkest-blue) !important;
	box-shadow: 0 0 0 0.2rem rgb(0 10 58 / 50%) !important;
}

/* NAVBAR */
h1 {
	font-weight: 900;
	font-size: 1.2rem;
	display: inline;
}
nav {
	background: linear-gradient(180deg, #0a1b6d 0%, #000a3a 100%) 0% 0%;
}
.navbar-nav {
	margin-right: 40px;
}

a {
	text-decoration: none;
	color: var(--white);
}
a:hover {
	text-decoration: none;
	color: var(--white);
}

#logo {
	width: 60px;
}

/* HOMEPAGE */
.homepage {
	text-align: center;
}

.homepage-top-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("./images/homepage_jumbo.jpg");
	background-position: -700px -100px;
	width: 100%;
	height: 50vh;
}

.homepage-top h2 {
	font-weight: 900;
	color: var(--white);
	margin-top: -30px;
}

.white-bg-thumbnails {
	background-color: var(--white);
	border: 3px var(--medium-blue) dashed;
	margin: -120px auto 10px auto;
	width: 160px;
	height: 160px;
}

@media (max-width: 768px) {
	.white-bg-thumbnails {
		margin: 0 auto 10px auto;
	}
}

.white-bg-thumbnails svg {
	color: var(--medium-blue);
	font-size: 2.5rem;
	margin: auto auto;
}
.white-bg-thumbnails path {
	stroke: var(--medium-blue);
}

/* @media (max-width: 768px) {
	.white-bg-thumbnails {
		width: 20%;
		margin: 0 auto 10px auto;
	}
} */

.homepage h3 {
	color: var(--medium-blue);
	font-weight: bold;
	font-size: 12pt;
}

/* .card {
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 8px 32px 0 rgba(116, 116, 117, 0.37);
	backdrop-filter: blur(10.5px);
	-webkit-backdrop-filter: blur(10.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
} */

.btn-as-link {
	color: var(--white);
	background-color: transparent;
	border: none;
	display: inline;
}

.btn-as-link svg {
	font-size: 1.5rem;
}

.popover {
	box-shadow: 0 8px 32px 0 rgb(116 116 117 / 37%);
	padding: 20px;
}
.modal-content {
	padding: 30px;
}

.modal-content h2,
p {
	text-align: center;
}

.modal-content hr {
	width: 80%;
	background-color: var(--medium-blue);
	margin-bottom: 5px;
}
/* Forms */
label {
	font-weight: 700;
}

input {
	border-color: var(--white-with-opacity) !important;
}
